name: CI-cybersec
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build images
      run: |
        docker build . --file Dockerfile --tag uwbfritz/tacomacybersec:latest
    - name: Log in to Docker
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Push images 
      run: |
        docker push uwbfritz/tacomacybersec:latest
